# Pipeline for Control-M jobs-as-code
trigger:
  - master

pool:
  vmImage: ubuntu-latest


jobs:
- job: JobsAsCode
  displayName: Control-M Jobs-as-Code
  strategy:
    matrix:
      Python311:
        python.version: '3.11'

  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      set -euo pipefail

      sudo apt-get update
      sudo apt-get install -y python3-pip python3-venv openjdk-17-jdk curl

      export BMC_INST_JAVA_HOME="/usr/lib/jvm/java-17-openjdk-amd64"
      echo "BMC_INST_JAVA_HOME=$BMC_INST_JAVA_HOME"

      python -m venv venv
      source venv/bin/activate
      python -m pip install --upgrade pip

      curl -fLo install_ctm_cli.py "https://bmc-prod-saas-agent-application-artifacts.s3.us-west-2.amazonaws.com/9.0.22.021/extracted/5363/root/apps/DEV/9.0.22.000/install_ctm_cli.py"
      python install_ctm_cli.py
      ctm -v
    displayName: 'CTM CLI Install'

  - script: |
      set -euo pipefail
      source venv/bin/activate

      # Prefer storing CTM_AAPI_TOKEN as a secret pipeline variable
       ctm environment saas::add sparkit https://bmc-spark-aapi.us2.controlm.com/automation-api "$CTM_AAPI_TOKEN"
    displayName: 'Environment Add'
    env:
      CTM_AAPI_TOKEN: $(apiTokenValue)

  - script: |
      set -euo pipefail
      source venv/bin/activate

      ctm build jobs/forecast-flow-helix-zzz.json
    displayName: 'Build Jobs-as-Code JSON file.'

  - script: |
      set -euo pipefail
      source venv/bin/activate

      ctm deploy jobs/forecast-flow-helix-zzz.json
    displayName: 'Deploy jobs to Control-M environment'

  - script: |
      set -euo pipefail
      source venv/bin/activate

      ctm run jobs/forecast-flow-helix-zzz.json
    displayName: 'Run Control-M jobs'

  - script: |
      set -euo pipefail
      source venv/bin/activate

      echo "Implement your test automation here using ctm run status and ctm run job:output::get"
    displayName: 'Test jobs'
